@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Mariusz Jedrzejewski<br />
    Student Politechniki Częstochowskiej<br />
    Specjalność: Inżynieria Oprogramowania<br />
    Przedmiot: Aplikacje WWW<br />
    <abbr title="Telefon">T:</abbr>
    +48 782 878 817
</address>

<address>
    <strong>Kontakt:</strong> <a href="mailto:hajcik666pl@gmail.com">hajcik666pl@gmail.com</a><br />
</address>
